header {
	background-color: #000;
}

ul {
	margin: 0;
}

.banner {
	background: url(http://placehold.it/600x300);
	background-size: cover;
}

.logo {
	background: url(http://placehold.it/200x100);
	background-repeat: no-repeat;
}

@media only screen and (min-width: 38em) {

.pad-l {
	padding-left: 1.4rem;
}

}

@media only screen and (min-width: 60em) {

.pad-l {
	padding-left: 0;
}

}
