label {
	display: block;
	cursor: pointer;
}

input + label {
	display: inline;
}

header, .pre-footer{
	background-color: #000;
}

.current {
	color: #999;
}

ul {
	margin: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #7B1820;
}

.button a, button {
  background: #a62a33;
  background-image: linear-gradient(to bottom, #a62a33, #610e15);
  border-radius: 15px;
  text-shadow: 1px 1px 3px #000;
  box-shadow: 0px 1px 2px #000;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
  font-size: 1.0000rem;
  line-height: 1.3000rem;
}

.button a:hover {
  background: #e03140;
  background-image: linear-gradient(to bottom, #e03140, #8f242d);
  text-decoration: none;
}

button:hover {
  background: #e03140;
  background-image: linear-gradient(to bottom, #e03140, #8f242d);
  text-decoration: none;
}

.banner {
	color: #fff;
	background-image: url("../images/cake.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	background-size: cover;
	width: 100%;
}

.logo {
	background: url(http://placehold.it/200x100);
	background-repeat: no-repeat;
}

@media only screen and (min-width: 20em) {

.border {
	border-width: 0px 20px;
	border-style: solid;
	border-color:  #7B1820;
}
}

@media only screen and (min-width: 38em) {

.pad-l {
	padding-left: 1.4rem;
}

.nav-lable {
	display: none;
}

.nav-lable {
	display: block;
}
.border {
	border-width: 0px 50px;
	border-style: solid;
	border-color:  #7B1820;
}

}

@media only screen and (min-width: 60em) {

.pad-l {
	padding-left: 0;
}

.border {
	border-width: 0px 180px;
	border-style: solid;
	border-color:  #7B1820;
}

}
